@media screen and (max-width: 480px) {
  .container-modal{
    width: 85% !important;
  }
  }
  

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.container-modal {
  background: white;
  border-radius: 5px;
  padding: 20px;
  width: 25%;
  transition: 1s;
}
.modal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.modal-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-btn-no {
  background-color: rgb(122, 122, 122);
  width: 45%;
  padding: 15px 0;
  color: black;
}
.modal-btn-yes {
  background: rgb(38, 156, 252);
  width: 45%;
  padding: 15px 0;
}
.modal-btn-no:hover {
  background-color: rgb(110, 110, 110);
  color: white;
  cursor: pointer;
}
.modal-btn-yes:hover {
  background: rgb(23, 138, 233);
  cursor: pointer;
}
